body{
    background-color: rgba(210, 219, 234, 0.535);
}
.forumPage{
    display: flex;
}
.forumMain{
    width: 65%;
    padding: 3%;
}
.forumRightBar{
    width: 20%;
    padding: 2%;
    padding-left: 0% !important;
}
