.forumMain{
  width: 85%;
  padding: 3%;
}

.middleSection{
  display: flex;
  padding-left: 3%;
}

.postCard{
  margin-top: 30px;
}
.SF-post-header {
  display: flex;
  position: relative;
  flex-direction: column;
}
.forum-info-dots{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}
.forum-back-arrow{
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.SPF{
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 4%;
    margin-top: 40px;
    width: 100%;
}

.forum-post-header {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.forum-user-info {
  display: flex;
  align-items: center;
}

.forum-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 10px;
  object-fit: cover;
}

.forum-user-details {
  display: flex;
  flex-direction: column;
}

.forum-user-name {
  font-weight: bold;
}

.forum-last-seen {
  color: #555555;
  font-size: x-small;
}

.forum-tags {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  margin-top: 3px;
  
  position: relative;
}

.forum-tag {
  background-color: #f3f3f3;
  color: #555555;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-small;
  margin: 5px;
}

.SPForum-Image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 0.3rem;
    padding-top: 30px;
  }

  .SPForum-Content {
    padding: 20px;
    box-sizing: border-box;
  }

.forumPage  p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
  }

  .startPara{
    text-indent: 0;
  }

  .SPForum-Heading {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .SPForum-Meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-bottom: 3px;
    border-bottom: 2px solid #eee;
    color: #555555;
    font-size: small;
  }

  .SPForum-Comments {
    padding: 20px;
    box-sizing: border-box;
  }

  .SPForum-Comment-Input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee; 
    outline: none;
    transition: border-color 0.3s;
  }

  .SPForum-Comment-Input:focus {
    border-color:  rgba(0, 101, 193, 1);
}

  .SPForum-Comment-Button {
    background-color: rgba(0, 101, 193, 1);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    margin: 5px;
  }
  .SPForum-Vote-Button:hover{
    background-color: #1e338d;
  }
  .SPForum-Comment-Button:hover{
    background-color: #1e338d;
  }
  .SPForum-Vote-Button{
    background-color:  rgba(0, 101, 193, 1);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-small;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  }

  .arrow-img{
    height: 10px;
    margin-top: 0.1rem;
    margin-right: 0.5 rem;
  }
  .SF-answer{
    color: #555;
    max-height: 80px;
    margin-top: 5px;
    cursor: pointer;
  }