

  .forum-post-card {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;
  }

  .forum-post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
  }

  .forum-user-info {
    display: flex;
    align-items: center;
  }

  .forum-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
  }

  .forum-user-details {
    display: flex;
    flex-direction: column;
  }

  .forum-user-name {
    font-weight: bold;
  }

  .forum-last-seen {
    color: #555555;
    font-size: x-small;
  }

  .forum-post-content {
    padding: 10px;
  }

  .forum-question {
    color:  rgba(0, 101, 193, 1);
    font-weight: bold;
    cursor: pointer;
  }
  .forum-question:hover{
    text-decoration: underline;
    color: #1e338d;
  }
  .forum-answer {
    color: #555;
    margin-top: 5px;
    cursor: pointer;
  }

  .forum-tags {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
    margin-top: 3px;
    
    position: relative;
  }

  .forum-tag {
    background-color: #f3f3f3;
    color: #555555;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-small;
    margin: 5px;
  }

  .forum-post-actions {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .forum-actions-icons {
    display: flex;
    align-items: center;
  }

  .forum-action-icon {
    margin-right: 20px;
    cursor: pointer;
  }

  .forum-three-dots {
    font-size: 20px;
    position: absolute;
    right: 0;
    padding-right: 10px;
    cursor: pointer;
  }

  .forum-post-footer{
    position: relative;
    display: flex;
    border-top: 1px solid #eee;
    justify-content: space-between; 
   
  }
