.upskill-percentage-completed{
    font-weight: 500;
    font-size: 1.40vh;
    color: rgba(0, 101, 193, 1);    
}

.upskill-lessons-completed{
    font-weight: 500;
    font-size: 1.40vh;
    color: rgba(94, 88, 115, 1); 
    margin-left: auto;
    margin-right: 1vh;       
}

.upskill-progress{
    display: flex;
    align-items: center;
}